body {
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#dice1,
#dice2 {
    border-radius: 15px;
    width: 13%;
    margin-left: 2%;
}

#dice1 {
    margin-left: 36%;
}

#hello1,
#hello2 {
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('Button_bg.jpg');
    background-size: cover;
    border-radius: 15px;
    padding: 15px;
}

#hello1 {
    position: absolute;
    top: 130px;
    left: 150px;
    visibility: hidden;
}

#hello2 {
    position: absolute;
    top: 130px;
    right: 150px;
    visibility: hidden;
}

#start {
    position: absolute;
    top: 350px;
    left: 42%;
    background-image: url('Button_bg.jpg');
    background-size: cover;
    border-radius: 15px;
    padding: 15px;
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#github {
    position: absolute;
    top: 480px;
    left: 45%;
    background-image: url('Button_bg.jpg');
    background-size: cover;
    border-radius: 15px;
    padding: 15px;
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#end {
    position: absolute;
    top: 350px;
    left: 42%;
    visibility: hidden;
    background-image: url('Button_bg.jpg');
    background-size: cover;
    border-radius: 15px;
    padding: 15px;
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p1 h1 {
    position: absolute;
    top: 200px;
    left: 160px;
}

.p2 h1 {
    position: absolute;
    top: 200px;
    right: 160px;
}

h1 {
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('Button_bg.jpg');
    background-size: cover;
    border-radius: 15px;
    padding: 15px;
    display: inline;
}

#gif1 {
    position: absolute;
    width: 390px;
    top: 360px;
    left: 75px;
}

#gif2 {
    position: absolute;
    width: 390px;
    top: 360px;
    right: 75px;
}